@import "navbar.css";
@import "header.css";
@import "home.css";
@import "gallery.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    color: #9f1818;
    font-weight: 300;
}

.content-container{
    max-width: 800px;
    margin: 10px auto;
}