* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    color: #9f1818;
    font-weight: 300;
}

.navbar{
    background-color: #393f44;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
}

.navbar i{
    font-size: 30px;
}