.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 44px;
    background-color: #393f44;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #393f44;
}

.nav-button {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 10px;
    cursor: pointer;
}

.nav-button i{
    font-size: 23px;
}

.active {
    background-color: white;
    color: #393f44;
}

.mobile-menu i {
    display: none;
}