<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1>Stylus Photo</h1>
    {% include "_menu.html" %}


    {% block body %}
    {% endblock body %}
</body>
</html>