<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/74f7ef6948.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="content-container">
        {% include "_header.html" %}
    </div>

    {% include "_menu.html" %}


    <div class="content-container">
        {% block body %}
        {% endblock body %}
    </div>
</body>
</html>