<div class="navbar">
    <div class="mobile-menu">
        <i class="nav-button fas fa-bars" onclick="menu_clicked()"></i>
    </div>

    <div class="desktop-menu" id="desktop-menu-container">
        <a href="/" class="nav-button {% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="/about/" class="nav-button {% if request.path == '/about/' %}active{% endif %}">About</a>
        <a href="/contact/" class="nav-button {% if request.path == '/contact/' %}active{% endif %}">Contact</a>
        <a href="/gallery/" class="nav-button {% if request.path == '/gallery/' %}active{% endif %}">Gallery</a>

        <a href={{ facebook }}>
            <i class="nav-button fab fa-facebook-square"></i>
        </a>

        <a href={{ instagram }}>
            <i class="nav-button fab fa-instagram-square"></i>
        </a>
    </div>
</div>
