{% extends "_base.html" %}

{% block title %} Gallery {% endblock title %}

{% block body %}
    <div class="gallery-layout">
        <div class="menu">
            {% for category in categories %}
                <a href="">{{ category }}</a>
            {% endfor %}
        </div>

        <div class="image-grid">
            {% for photo in photos %}
                <a href="/gallery/{{ forloop.counter }}/"><img src={{ photo }} alt=""></a>
            {% endfor %}
        </div>
    </div>

{% endblock body %}