{% extends "_base.html" %}

{% block title %} Home {% endblock title %}

{% block body %}

    <div class="home-container">
        <div>
            {% for photo in photos %}
                <img src={{ photo.image.url }} alt="">
            {% endfor %}
        </div>

        <div>
            <div class="sticky-container">
                <h1>{{ title }}</h1>
                <h3>{{ subtitle }}</h3>
                <p>{{ content }}</p>
            </div>
        </div>
    </div>

{% endblock body %}